{% extends "layout.twig" %}

{% block title %} <h1>Bienvenue dans l'interface d'administration</h1> {% endblock %}

        {% block contents %}

            <h2>Ajouter un nouveau chapitre :</h2>

            <form method="post" action="http://localhost/projet4/public/?page=addPost">
                <label for="title">Titre</label>
                <input type="text" name="titleNewPost">

                <textarea aria-label="content" id="contentNewPost" name="contentNewPost" rows="22" cols ="100"></textarea>

                <input type="submit" value="Publier">
            </form>

            <h2>Commentaires signalés :</h2>


        {% endblock contents %}

{% block script %}

        <script src="https://cdn.tiny.cloud/1/86dwj93jeidl87z3q3afvplo43p9md7qlo4xpeq0hkuqinwu/tinymce/5/tinymce.min.js"></script>
        <script>tinymce.init({
                selector: "textarea",
                width: 755,
                height: 500,
                resize: false,
                elements:"contenu",
                language : "fr_FR",
                encoding: "UTF-8",
                force_p_newlines : false,
                forced_root_block : false,
                force_br_newlines : true,
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                ],
                toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',

        })</script>

{% endblock %}