{% extends "layout.twig" %}

        {% block title %}CHAPTERLIST // Liste des chapitres{% endblock %}


        {% block contents %}
            {% for content in contents %}
            <div>
                <section>
                    <h3><strong>{{ content.title }}</strong> | Publié le {{ content.postDate }}</h3>
                    <div>
                        <p>{{ content.content }}</p>
                        <a href="http://localhost/projet4/public/?page=chapter&id={{ content.id}}">Lire la suite</a>
                    </div>

                </section>
            </div>
            {% endfor %}
        {% endblock contents %}