{% extends "layout.twig" %}

        {% block title %}CHAPTERLIST // Liste des chapitres{% endblock %}


        {% block contents %}
            {% for content in contents %}

            <section>
                <h3><strong>{{ content.title }}</strong> | Publié le {{ content.postDate }}</h3>
                <div>
                    <p>{{ content.content | raw }}</p>
                    <a href="http://localhost/projet4/public/?page=chapter&id={{ content.id}}">Lire la suite</a>
                </div>

            </section>

            {% endfor %}
        {% endblock contents %}