{% extends "layout.twig" %}

{% block title %} <h1> OUPS ! </h1> {% endblock %}

        {% block posts %}

            <p>Il n'y a pas de chapitre à cet endroit ! Cliquez sur lien ci-dessous pour revenir à l'accueil !</p>

            <a href="http://localhost/projet4/public/">Retour à la page d'accueil</a>

        {% endblock posts %}


