{% extends "layout.twig" %}

{% block title %}

    <h1 class="title-home">Bienvenue sur mon blog !</h1>
    <h2 class="subtitle-home">Voici le dernier chapitre en ligne : </h2>

{% endblock title%}



{% block contents %}

        <section class="chapter-home">
            <h3 class="title-chapter-home"><strong>{{ contents.title }}</strong> | <span>Publié le {{ contents.postDate }}</span></h3>
            <div class="content-chapter-home">
                <p class="extract-chapter-home">{{ contents.content | raw }}</p>
                <a href="http://localhost/projet4/public/?page=chapter&id={{ contents.id}}">Lire la suite</a>
            </div>
        </section>


{% endblock contents %}