{% for comment in comments %}

<section class="card">
    <h3 class="card-header">Posté par : <strong>{{ comment.author }}</strong>, le {{ comment.date_publication_fr }}</h3>
    <div class="card-body">
        <p class="card-text">{{ comment.comment }}</p>
    </div>
</section>

        {% endfor %}