{% extends "layout.twig" %}

    {% block title %}Inscrivez-vous !{% endblock %}

    {% block contents %}

        <h2 class="space">Vous êtes déjà inscrit ? Connectez-vous :</h2>

        <div class="form-group">
            <form class="space" method="post" action="{{ url.URL }}public/?page=sendConnection">

                    <label for="pseudo">Votre pseudo :</label>
                    <input type="text" class="form-control w-50 p-3 margin-auto" name="pseudoConnection" id="pseudoConnection">

                    <label for="password">Votre mot de passe :</label>
                    <input type="password" class="form-control w-50 p-3 margin-auto" name="passwordConnection" id="passwordConnection" />

                <input class="btn btn-primary" type="submit" value="Envoyer">
            </form>
        </div>

        <h2 class="space">Pas encore inscrit ? Remplissez le formulaire ci-dessous pour rejoindre notre communauté :</h2>

        <form class="space form-group " method="post" action="{{ url.URL }}public/?page=sendInscription">
            <label for="pseudo">Votre pseudo :</label>
            <input type="text" class="form-control w-50 p-3 margin-auto" name="pseudo" id="pseudo">

            <label for="password">Votre mot de passe :</label>
            <input type="password" class="form-control w-50 p-3 margin-auto" name="password" id="password" />

            <label for="password2">Retapez votre mot de passe :</label>
            <input type="password" class="form-control w-50 p-3 margin-auto" name="password2" id="password2" />

            <label for="email">Votre adresse e-mail :</label>
            <input type="email" class="form-control w-50 p-3 margin-auto " name="email" id="email"/>

            <input class="btn btn-primary" type="submit" class="btn btn-primary space" value="Envoyer">

        </form>

        <p class="h5">Devenir membre vous permettra de publier des commentaires sur mon site !</p>

    {% endblock contents %}

    {% block script %}
        {% if alertMessage is defined %}
            <script>alert ( '{{ alertMessage }}' );</script>
        {% endif %}
    {% endblock script %}