<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Blog de Jean Forteroche</title>
    </head>

<!-- ----------------------------------------------------------------------->

    <header>

        <ul>
            <li><a href="http://localhost/projet4/public/?page=home">Home</a></li>
            <li><a href="http://localhost/projet4/public/?page=chapters">Chapitres</a></li>
            <li><a href="http://localhost/projet4/public/?page=inscription">Connexion/Inscription</a></li>
            <li><a href="http://localhost/projet4/public/?page=delog">Se déconnecter</a></li>
            {% block session %}
                {% if session.pseudo is defined %}
                    <p>Bienvenue {{ session.pseudo }}</p>
                {% endif %}
            {% endblock %}


        </ul>
    </header>

<!-- ----------------------------------------------------------------------->

    <body>

        {% block title %}Titre par défaut{% endblock %}

        {% block subTitle %}{% endblock %}

        {% block contents %}{% endblock contents %}

        {% block comments %}{% endblock comments %}

    </body>

<!-- ----------------------------------------------------------------------->

    <footer>

    </footer>


</html>