<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Blog de Jean Forteroche</title>
    </head>

<!------------------------------------------------------------------------->

    <header>
        {% block title %}Titre par défaut{% endblock %}

        {% block subTitle %}Sous-titre par défaut{% endblock %}
    </header>

<!------------------------------------------------------------------------->

    <body>

        {% block posts %}

        {% endblock posts %}

        {% block comments %}

        {% endblock comments %}

    </body>

<!------------------------------------------------------------------------->

    <footer>

    </footer>


</html>