<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Blog de Jean Forteroche</title>
    </head>

<!------------------------------------------------------------------------->

    <header>
        {% block title %}Titre par défaut{% endblock %}
    </header>

<!------------------------------------------------------------------------->

    <body>

        {% block posts %}
            <p>Ceci est un test POST</p>
        {% endblock posts %}

        {% block comments %}
            <p>Pas de commentaire</p>
        {% endblock comments %}

    </body>

<!------------------------------------------------------------------------->

    <footer>

    </footer>


</html>