<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Blog de Jean Forteroche</title>
    </head>

<!-- ----------------------------------------------------------------------->

    <header>

        <ul>
            <li><a href="http://localhost/projet4/public/?page=home">Home</a></li>
            <li><a href="http://localhost/projet4/public/?page=chapters">Chapitres</a></li>

            {% block session %}
                {% if session.pseudo is not defined %}
                <li><a href="http://localhost/projet4/public/?page=inscription">Connexion/Inscription</a></li>
                {% endif %}
                {% if session.pseudo is defined %}
                    {% if session.rank is same as ("Admin") %}
                        <li><a href="http://localhost/projet4/public/?page=admin">Administration</a></li>
                    {% endif %}
                    <li><a href="http://localhost/projet4/public/?page=delog">Se déconnecter</a></li>
                    <p>Bienvenue {{ session.pseudo }}</p>
                {% endif %}
            {% endblock %}


        </ul>
    </header>

<!-- ----------------------------------------------------------------------->

    <body>

        {% block title %}Titre par défaut{% endblock %}

        {% block subTitle %}{% endblock %}

        {% block contents %}{% endblock contents %}

        {% block comments %}{% endblock comments %}



<!-- ----------------------------------------------------------------------->
    <footer>

    </footer>
        {% block script %}{% endblock script %}
    </body>

</html>